python-dotenv
kubernetes

# Prefect
prefect>=3.2.0

# Data handling
pandas
numpy
matplotlib
plotly

# Machine Learning
scikit-learn
optuna
xgboost
prophet
joblib

# Deep Learning
torch

# Experiment tracking
mlflow
dagshub
